In [1]:
import requests
import time
import pandas as pd

In [2]:
sites = []
month = range(1,7)
for x in month:
    x = str(x)
    site = 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-0'+x+'.csv'
    sites.append(site)

In [3]:
sites

['https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-06.csv']

In [4]:
for site in sites:
    results19 = []
    start = time.time()
    print('begin')
    print(start)
    results = requests.get(site)
    end = time.time()
    print('finished')
    print(end)
    print(end - start)
    results19.append(results)

begin
1578965235.683817
finished
1578965332.044322
96.36050510406494
begin
1578965332.044497
finished
1578965420.209988
88.16549110412598
begin
1578965420.21042
finished
1578965514.091732
93.88131213188171
begin
1578965514.091914
finished
1578965601.294826
87.20291209220886
begin
1578965601.295001
finished
1578965694.050163
92.75516200065613
begin
1578965694.0503051
finished
1578965778.84739
84.79708480834961

In [5]:
results19_df = pd.DataFrame(results19)

In [6]:
len(results19_df)

1

In [ ]:
'2019' = requests.get('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-0'x'.csv')

In [13]:
key = '2ZKxNUDGGjSLpYBCCYNjjVklE'

In [3]:
def taxi_call(url_params, api_key):
    url = 'https://api.yelp.com/v3/businesses/search'
    headers = {'Authorization': 'Bearer {}'.format(api_key)}
    response = requests.get(url, headers=headers, params=url_params)
    
    data = response.json()['businesses']
    return data

'2ZKxNUDGGjSLpYBCCYNjjVklE'

In [ ]:
import time

def all_results(url_params, api_key):
    num = response.json()['total']
    print('{} total matches found.'.format(num))
    cur = 0
    
    while cur < num and cur < 1000:
        url_params['offset'] = cur
        results = taxi_call(url_params, api_key)
        parsed_results = parse_results(results)
        db_insert(parsed)
        time.sleep(1) #Wait a second
        cur += 50

In [14]:
import pandas as pd
from sodapy import Socrata

#2015 yellow taxi data (jan-june)
client = Socrata("data.cityofnewyork.us", key, timeout = 10)

results = client.get("2yzn-sicd", limit=5)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [15]:
results_df

,passenger_count,trip_distance,pickup_longitude,pickup_latitude,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount,vendor_id,pickup_datetime,dropoff_datetime,rate_code,payment_type
0,1,2.8,-73.959068298339844,40.716873168945313,N,-73.985038757324219,40.714572906494141,11.5,0.5,0.5,2.56,0,15.36,1,2015-03-20T00:49:57.000,2015-03-20T01:01:34.000,1,1
1,1,1.31,-73.998519897460938,40.760475158691406,N,-73.985969543457031,40.762500762939453,8.5,0,0.5,0,0,9.3,2,2015-03-10T14:24:06.000,2015-03-10T14:35:16.000,1,2
2,1,1.1,-73.995803833007812,40.736911773681641,N,-73.990104675292969,40.725105285644531,7.5,0,0.5,1,0,9.3,1,2015-06-15T14:53:18.000,2015-06-15T15:02:18.000,1,1
3,1,0,-73.991241455078125,40.735061645507812,N,-73.991241455078125,40.735061645507812,2.5,0.5,0.5,0,0,3.8,1,2015-04-05T05:23:31.000,2015-04-05T05:24:21.000,1,4
4,1,1.26,-73.995643615722656,40.724697113037109,N,-73.989753723144531,40.739452362060547,9.5,0,0.5,0,0,10.3,2,2015-04-09T11:53:35.000,2015-04-09T12:06:12.000,1,2

In [ ]:
cur = 0  
while cur < 438:
    url_params['offset'] = cur
    results = yelp_call(url_params, api_key)
    biz_id = parse_results_reviews(results)
    review_results = yelp_call_review(api_key, the_id)
    parsed_review_results = parse_review_results(review_results)
    db_insert_reviews(parsed_review_results)
    time.sleep(1) #Wait a second
    cur = 50 + cur

In [32]:
results_df.tail()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2019-01-01T00:59:47.000,2019-01-01T01:18:59.000,1,2.60,1,N,239,246,1,14,0.5,0.5,1,0,0.3,16.3
1,2,2018-12-21T13:48:30.000,2018-12-21T13:52:40.000,3,0.00,1,N,236,236,1,4.5,0.5,0.5,0,0,0.3,5.8

In [25]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 17 columns):
vendorid                 50 non-null object
tpep_pickup_datetime     50 non-null object
tpep_dropoff_datetime    50 non-null object
passenger_count          50 non-null object
trip_distance            50 non-null object
ratecodeid               50 non-null object
store_and_fwd_flag       50 non-null object
pulocationid             50 non-null object
dolocationid             50 non-null object
payment_type             50 non-null object
fare_amount              50 non-null object
extra                    50 non-null object
mta_tax                  50 non-null object
tip_amount               50 non-null object
tolls_amount             50 non-null object
improvement_surcharge    50 non-null object
total_amount             50 non-null object
dtypes: object(17)
memory usage: 6.8+ KB

In [3]:
import pandas as pd
y19 = pd.read_csv('yellowtaxi-trip-data/2019_Yellow_Taxi_Trip_Data.csv')

/Users/findlaybowditch/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
len(y19)

9001102